In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

housing = pd.read_csv('ds620_pe03_housing.csv')
#housing = pd.read_csv('../input/housing/ds620_pe03_housing.csv')

In [2]:
#note the shape of the dataset
housing.shape

(20640, 2)

In [3]:
#inspect the top of the dataset
housing.head()

   median_income  median_house_value
0         8.3252              452600
1         8.3014              358500
2         7.2574              352100
3         5.6431              341300
4         3.8462              342200

In [4]:
#inspect the bottom of the dataset
housing.tail()

       median_income  median_house_value
20635         1.5603               78100
20636         2.5568               77100
20637         1.7000               92300
20638         1.8672               84700
20639         2.3886               89400

In [ ]:
# Question #1
# Consider y = median_house_value as our output and x = median_income as our input
# What the mathematical formula for the regression line with x as input and y as output?

In [22]:
# Let's assign x and y
X = housing.iloc[:, 0].values.reshape(-1, 1)
y = housing.iloc[:, 1]

In [ ]:
# Question # 2
# Since housing is a dataframe you can use the plot fucntion directly on housing.
# plot the scatter plot of "median_income" and "median_house_value".
# make sure the x-axis is labeled "median_income" and the y-axis is labeled "median_house_value"
# Show the plot in the notebook

In [ ]:
# Question #3
# to ensure everyone's results are the same, set the random seed to (10) using the function random.seed()
# Don't forget the related import

In [25]:
# Question #4
# split the datasets into training and test sets using 30% of the data for testing. 
#Remember: housing_medium_house_value is the y and the income is the x

X_train, X_test, y_train, y_test = train_test_split(???) #REPLACE THIS WITH THE CORRECT PARAMETERS)

In [26]:
#Using scikit-learn to build a linear regression model
lr = LinearRegression()
lr.fit(x_train, y_train)

LinearRegression()

In [ ]:
# Question #5
# what are the y_intercept and the slope produced by the lr model you just trained?
# See "The Normal Equation" Section in Chapter 4 to find out how to get the intercept and slope
# Show the functions used below

In [ ]:
# Question #6
# Redo the plot from question #2, but this time show the regression line in the color red

In [ ]:
# Question #7
# What is the predicted house value for the following income values:
# a) 3.8
# b) 8.5
# What is the MSE for the trained model?

In [31]:
#BATCH GRADIENT DESCENT
# use the block of code below to find the slope and y-intercept of the regression line through the income (x) and value (y) scatter plot

# Building the model
m = 0 #initialize slope
b = 0 #initialize y_intercept

eta = 0.01  # The learning Rate
epochs = 1000  # The number of iterations to perform gradient descent

n = float(len(X)) # number of elements in X

# Performing Gradient Descent 
for i in range(epochs): 
    y_pred = m*X + b  # The current predicted value of y
    D_m = (-2/n) * sum(X * (y - y_pred))  # Derivative wrt m
    D_b = (-2/n) * sum(y - y_pred)  # Derivative wrt b
    m = m - eta * D_m  # Update m
    b = b - eta * D_b  # Update c
    
print (m, b)

41969.81412988478 44248.85379162605

In [ ]:
# Question #8
# change the code block into a Python function that takes the learning rate eta as an argument and outputs the slope m and y_intercept b
# call the function linear_GD and write it into the cell below.

In [ ]:
def linear_GD(eta_):

In [ ]:
# Question #9 
# run the linear_GD function for values of eta=0.001, eta = 0.1, and eta = 0.5
# what are the slope and intercept values for each eta?
# what are your observations as the learning rate increases?

In [ ]:
# Question #10
# plot the X,y scatter plot again, this time add the four regression lines based on m and b found with eta=0.001, 0.01, 0.1, and 0.5 found above.
# Use different colors and a legend to indicate the associated learning rate.